<div class="flex">
  <div class="flex flex-col w-24 lg:w-64"></div>
  <div class="flex-1 overflow-y-auto">
    <!-- job-details.component.html -->
    <div class="job-details-page" *ngIf="job">
      <div class="back-button-container">
        <button class="back-button" (click)="goBack()">← Back</button>
      </div>

      <header class="job-header">
        <img [src]="job.companyLogo" alt="{{ job.companyName }} logo" class="company-logo">
        <h1>{{ job.jobTitle }}</h1>
        <h2>{{ job.companyName }}</h2>
      </header>

      <section class="job-info">
        <p><strong>Industry:</strong> {{ job.jobIndustry }}</p>
        <p><strong>Type:</strong> {{ job.jobType }}</p>
        <p><strong>Location:</strong> {{ job.jobGeo }}</p>
        <p><strong>Seniority:</strong> {{ job.jobLevel }}</p>
        <p><strong>Published on:</strong> {{ job.pubDate | date }}</p>
      </section>

      <section class="job-description">
        <div [innerHTML]="job.jobDescription"></div>
      </section>

      <footer class="job-actions">
        <!-- Display "Save Job" button if the job is not saved -->
        <button *ngIf="!isJobSaved" class="save-button" (click)="saveJob()">Save Job</button>

        <!-- Display "Unsave Job" button if the job is already saved -->
        <button *ngIf="isJobSaved" class="save-button" (click)="unsaveJob()">Unsave Job</button>

        <!-- Display "Apply Now" button if the job is not applied -->
        <button *ngIf="!isJobApplied" class="apply-button" (click)="openApplyPopup()">Apply Now</button>

        <!-- Display "Already Apply" button if the job is  applied -->
        <button *ngIf="isJobApplied" class="alr-apply-button" (click)="openAlreadyApplyPopup()">Already Applied</button>
      </footer>
    </div>
    <!-- Apply Confirmation Popup -->
    <div class="popup-overlay" *ngIf="showApplyPopup">
      <div class="popup-container">
        <h2>Application Status</h2>
        <p>Did you apply for this job?</p>
        <div class="popup-actions">
          <button class="no-button" (click)="handleApplyResponse(false)">No</button>
          <button class="yes-button" (click)="handleApplyResponse(true)">Yes</button>
        </div>
      </div>
    </div>

    <div *ngIf="!job">
      <p>Loading job details...</p>
    </div>
  </div>
</div>